@import "~font-awesome/css/font-awesome.css";


p {
    color: black;
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal; 
    
}

#navigation {
    max-width: 5000px;
    
}

#navbar {
    background-color: #4ecdc4;

}

.bar {
    color: #ff6b6b;
    
    
}









