
<div class= "container" id="navigation">
  <nav class="navbar sticky-top" id="navbar">
    <a class="navbar-brand" href="#">
      <img src="../assets/main-icons/quotation (1).png" alt="quotes-logo" width="100">
      
    </a>

    <div>
        <i class="fas fa-bars"></i>
    </div>

    <!-- <p id="logo" >Vote on Quotes</p> -->

    <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

  </nav>

</div>






