<div class="container-fluid">
  <div class="row">
    <div class="col">
        <h1>Publish your Quote</h1>
        <form>

          <div class="form-group">
            <!-- category field -->
            <label for="quoteCategory">Category</label>
            <input type="text" class="form-control" id="category" required>
          </div>

          <div class="form-group">
            <!-- quote field -->
            <label for="name">Quote</label>
            <textarea name="quote" class="form-control"  id="quote" cols="30" rows="10" required></textarea>
          </div>

          <div class="form-group">
            <!-- author field -->
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author">
          </div>

          <div class="form-group">
            <!-- contributor field -->
            <label for="contributor">Contributor</label>
            <input type="text" class="form-control" id="contributor">
          </div>

          <!-- submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
     
        </form>
      </div>
      <!-- display entry here -->
      <div class="col">
          <h1>Quote Corner</h1>
      </div>

      <!-- display time stamp here -->
      <div>
        date submitted
      </div>
      

      </div>
    </div>
