<!-- <h2>{{quote.id}} Details</h2>
<div><span>quote: </span>{{quote.quote}}</div>
<div><span>author: </span>{{author.quote}}</div>
<div><span>contributor: </span>{{contributor.id}}</div>
<div><span>category: </span>{{category.quote}}</div> -->
<!-- <div><span>dateSubmitted: </span>{{dateSubmitted.id}}</div> -->


<ul class="quotes">

  <li *ngFor="let quote of quotes" (click)="onSelect(quote)" [class.selected]="quote === selectedQuote">
    <span class="badge">{{quote.id}}</span> " {{quote}} " <span>- {{quote}}</span>
  </li>

</ul>

<!-- property binding -->


<!-- <app-quote-detail [quote]="selectedQuote"></app-quote-detail> -->

<h2>Posted Quotes</h2>

<div class="container">

    <div class="row">
        <app-quote-form (addQuote)="addmodel($event)"></app-quote-form>
    </div>
    
</div>





