<!-- <h2>{{quote.id}} Details</h2>
<div><span>quote: </span>{{quote.quote}}</div>
<div><span>author: </span>{{author.quote}}</div>
<div><span>contributor: </span>{{contributor.id}}</div>
<div><span>category: </span>{{category.quote}}</div> -->
<!-- <div><span>dateSubmitted: </span>{{dateSubmitted.id}}</div> -->

<h2>My Quotes</h2>

<ul class="quotes">

  <li *ngFor="let quote of quotes" (click)="onSelect(quote)" [class.selected]="quote === selectedQuote">
    <span class="badge">{{quote.id}}</span> {{quote.quote}}
  </li>

</ul>

<!-- property binding -->


<app-quote-detail [quote]="selectedQuote"></app-quote-detail>





