#publish {
  margin: 2em;
  text-align: left;
  background-color: #757575;
}


/* #quote-display {
  margin: 2em;
  text-align: left;
  background-color: #342e9f;
  
  max-height: 100px;
} */

#quote-text {
  color: #d9780b;

}

/* form validation cues */

.ng-valid[required], .ng-valid.required  {
  border-left: 10px solid #41ead4; /* green */
}

.ng-invalid:not(form)  {
  border-left: 10px solid #ff0022; /* red */
}

/* buttons */
#submit{
  color: #ffffff;
  background-color: #b91372;
}

#reset{
  color: #ffffff;
  background-color: #01baef;
}

/* end of buttons */

#publish{
  color: #b91372;
  background-color: #ffffff;
}
