<div class="container">
  <div [hidden]="submitted">
    <h1>Publish</h1>
    <form (ngSubmit)="onSubmit()" #quoteForm="ngForm">
      <div class="form-group">
        <label for="quote">Quote: </label>
        <input type="text" class="form-control" id="quote"
               required
               [(ngModel)]="model.quote" name="quote"
               #quote="ngModel">
        <div [hidden]="quote.valid || quote.pristine"
             class="alert alert-danger">
          Quote is required!
        </div>
      </div>

      <div class="form-group">
        <label for="Author">Author: </label>
        <input type="text" class="form-control" id="author"
               [(ngModel)]="model.author" name="author">
      </div>

      <div class="form-group">
        <label for="Contributor">Contributor: </label>
        <input type="text" class="form-control" id="contributor"
               [(ngModel)]="model.contributor" name="contributor">
      </div>

      <div class="form-group">
        <label for="category">Category: </label>
        <select class="form-control" id="category"
                required
                [(ngModel)]="model.category" name="option"
                #option="ngModel">
          <option *ngFor="let option of options" [value]="option">{{option}}</option>
        </select>
        <div [hidden]="option.valid || option.pristine" class="alert alert-danger">
          Contributor is required
        </div>
      </div>



      <button type="submit" class="btn btn-success" [disabled]="!quoteForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newQuote(); quoteForm.reset()">New Hero</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Quote</div>
      <div class="col-xs-9">{{ model.quote }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Author</div>
      <div class="col-xs-9">{{ model.author }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Contributor</div>
      <div class="col-xs-9">{{ model.contributor }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Category</div>
      <div class="col-xs-9">{{ model.category }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>


