<div class="container-fluid">
  <div [hidden]="submitted">
    <div class="col" id="publish">
        <h1>Publish your Quote</h1>

        <form (ngSubmit)="onSubmit()" #quoteForm="ngForm">
          <div class="form-group">
            <!-- quote field -->
            <label for="quote">Quote: </label>
            <textarea name="quote" class="form-control"  id="quote" cols="30" rows="10" [(ngModel)]="model.quote" #quote="ngModel" required></textarea>
          </div>

          <!-- quote field validation -->
          <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">

            This field is required!

          </div>

          <div class="form-group">
            <!-- author field -->
            <label for="author">Author: </label>
            <input type="text" name="author" class="form-control" id="author" [(ngModel)]="model.author" #author="ngModel" required>
          </div>

          <!-- author field validation -->
          <div [hidden]="author.valid || author.pristine" class="alert alert-danger">

              This field is required!
  
          </div>

          <div class="form-group">
            <!-- contributor field -->
            <label for="contributor">Contributor: </label>
            <input type="text" name="contributor" class="form-control" id="contributor" [(ngModel)]="model.contributor" #contributor="ngModel" required>
          </div>

          <!-- contributor field validation -->
          <div [hidden]="contributor.valid || contributor.pristine" class="alert alert-danger">

              This field is required!
  
          </div>

          <div class="form-group">
              <!-- category field -->
              <label for="category">Category: </label>
              <select class="form-control" name="category" id="category" required [(ngModel)]="model.category">

              <!-- category field validation -->
          <div [hidden]="contributor.valid || contributor.pristine" class="alert alert-danger">

              This field is required!
  
          </div>
  
                <!-- use ng for to loop through choices of categories (interpolation) -->
                <option *ngFor= "let option of options">{{option.category}}</option>
              </select>
            </div>

          <div class="row">

            <div class="col-6">

          <!-- submit button -->
          <button type="button" id="submit" class="btn btn-default btn-block" [disabled]="!quoteForm.form.valid">Submit</button>

            </div>

            <div class="col-6">

          <!-- reset button -->

          <button type="button" id="reset" class="btn btn-default btn-block" (click)="newQuote(); quoteForm.reset()">New Quote</button>

        </div>

          </div>
     
        </form>
      </div>

      
      <!-- 2-way data binding displays here -->
      
        <!-- {{model.id}} -->
        <!-- {{model.quote}}
        {{model.author}}
        {{model.contributor}}
        {{model.category}} -->

      </div>

      <div [hidden]="!submitted">
          <h2>You submitted the following:</h2>
          <div class="row">
            <div class="col-xs-3">Quote:</div>
            <div class="col-xs-9">{{ model.quote }}</div>
          </div>
          <div class="row">
            <div class="col-xs-3">Author: </div>
            <div class="col-xs-9">{{ model.author }}</div>
          </div>
          <div class="row">
            <div class="col-xs-3">Contributor: </div>
            <div class="col-xs-9">{{ model.contributor }}</div>
          </div>
          <br>
          
          <button class="btn btn-primary" (click)="submitted=false">Edit</button>
        </div>


    </div>
